.header {
  grid-area: header;
  background: $white;
  padding: 30px;
  align-items: center;
  > div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 25px;
    box-sizing: border-box;

  }

  .logo {
    color: $base-text;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -2px;
    > span {
      font-weight: 300;
      color: $base-color;
    }
  }
}