.nav {
  a {
    font-size: 14px;
    margin: 15px;
    color: $base-text;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
     color: $base-color;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}