.nav {
  a {
    color: $white;
    text-decoration: none;
    margin: 15px;
    &:hover {
      text-decoration: underline;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}