.search {
  form {
    position: relative;
    display: inline;
    input {
      padding: 15px;
      border: 1px #bbb solid;
      background: transparent;
      border-radius: 30px;
      margin-bottom: 30px;
      font-size:15px;
      font-family: $ff-open;
      min-width: 380px;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }
    button {
      position: absolute;
      right: 0;
    }
  }
  ul {
    display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-gap: 10px;
    margin: 0;
    padding: 0;
    li {
      text-transform: capitalize;
      list-style-type: none;
      margin: 0;
      padding: 10px 0 0 0;
      border-top: 1px #BBB solid;
      text-align: left;
      font-size: 15px;
      line-height: 19px;
      font-weight: 500;
      letter-spacing: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;  
    }
  }
}